.Block{
    width: 593px;
    min-height: 261px;

    margin: 10px;
    background-color: #373C3F;



    border: 1px solid #515151;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
    overflow: hidden;



}


table{
    width:100%;
    height:100%;

}

.small{
    width:40px;

}

.small input{

    background-color: inherit;

}
.large{
    width:29%

}
.large input{
    width:29%;
    background-color: inherit;

}




.BlockText{
background-color: #373C3F;
color:#928F8F;
border:0px;

}
textarea{
height:200px;
width:100%;
resize: none;
font-size: 15px;
}

.parent {

}

.Priorities { grid-area: 1 / 1 / 6 / 2;background-color: #373C3F;
color:#928F8F;
border:0px;
padding-top:5px;
}
.Priorities input{
width:100%;
background-color: #373C3F;
color:#928F8F;
border:0px;
padding-left: 20px;
height:auto;
margin-top:-2px;
}


ul{
margin-top:0px;
padding-left:50px;
}